<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Listing</a></li>
        <li class="active">Detail</li>
    </ol>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <div class="quick-navigation" data-fixed-after-touch="">
                <div class="wrapper">
                    <ul>
                        <li><a target="_self" href="#description" class="scroll">Description</a></li>
                        <li><a target="_self" href="#map" class="scroll">Map</a></li>
                        <li><a target="_self" href="#facilities" class="scroll">Facilities</a></li>
                        <li><a target="_self" href="#additional-information" class="scroll">Additional Information</a></li>
                        <li><a target="_self" href="#reviews" class="scroll">Reviews</a>(23)</li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="title">
                    <div class="left">
                        <h1>{{donneesAnnonce.LIBELLE}} <span class="rating"><i class="fa fa-star"></i>{{donneesAnnonce.UTILISATEUR.NOTE}}</span></h1>
                        <h3><a href="#">Austria</a> (63 properties)</h3>
                    </div>
                    <div class="right">
                        <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>See on the map</a>
                        <a href="#availability" class="btn btn-primary btn-rounded scroll">Reserve Today</a>
                    </div>
                </div>
                <!--end title-->
                <section id="gallery">
                    <div class="gallery-detail">
                        <div class="ribbon"><div class="offer-number">20%</div><figure>Off Today!</figure></div>
                        <div class="one-item-carousel">
                            <div class="image">
                                <a href="#reviews" class="review scroll">
                                    <div class="rating">
                                        <div class="rating-title">
                                            <figure class="rating">9.8</figure>
                                            <h4>Very Good Hotel</h4>
                                        </div>
                                        <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod. Suspendisse
                                            at dui sit amet felis commodo dictum. Class aptent taciti sociosqu ad litora
                                            torquent per conubia nostra, per inceptos
                                        </p>
                                    </div>
                                </a>
                                <img src="assets/img/items/01_b.jpg" alt="">
                            </div>
                            <div class="image">
                                <a href="#reviews" class="review scroll">
                                    <div class="rating">
                                        <div class="rating-title">
                                            <figure class="rating">9.9</figure>
                                            <h4>Beautiful Holiday</h4>
                                        </div>
                                        <p>Class aptent taciti sociosqu ad litora
                                            torquent per conubia nostra, per inceptos
                                        </p>
                                    </div>
                                </a>
                                <img src="assets/img/items/02_b.jpg" alt="">
                            </div>
                            <div class="image">
                                <a href="#reviews" class="review scroll">
                                    <div class="rating">
                                        <div class="rating-title">
                                            <figure class="rating">9.8</figure>
                                            <h4>Very Good Hotel</h4>
                                        </div>
                                        <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod. Suspendisse
                                            at dui sit amet felis commodo dictum. Class aptent taciti sociosqu ad litora
                                            torquent per conubia nostra, per inceptos
                                        </p>
                                    </div>
                                </a>
                                <img src="assets/img/items/03_b.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <h2>Description</h2>
                <div class="row">
                    <div class="col-md-12">
                        <section id="description">
                            <p>{{donneesAnnonce.DESCRIPTION}}</p>
                            <div>{{donneesAnnonce.UTILISATEUR.PRENOM}} parle :
                                <span ng-repeat="langue in donneesAnnonce.UTILISATEUR.LANGUE">
                                    {{langue.LIBELLE}} {{$last ? '' : ', '}}
                                </span>
                            </div>
                        </section>
                        <section id="facilities">
                            <h2>Options</h2>
                            <ul class="bullets">
                                <li ng-class="{'bulletsok': donneesAnnonce.ASSISTER_PREPARATION == true, 'bulletsnotok': donneesAnnonce.ASSISTER_PREPARATION == false}">Vous propose d'assister à la préparation</li>
                                <li ng-class="{'bulletsok': donneesAnnonce.ACCEPTE_ENFANT == true, 'bulletsnotok': donneesAnnonce.ACCEPTE_ENFANT == false}">Accueille les enfants en bas age</li>
                                <li ng-class="{'bulletsok': donneesAnnonce.ACCEPTE_ANIMAUX == true, 'bulletsnotok': donneesAnnonce.ACCEPTE_ANIMAUX == false}">Accepte les animaux</li>
                                <li ng-class="{'bulletsok': donneesAnnonce.RACCOMPAGNE_INVITE == true, 'bulletsnotok': donneesAnnonce.RACCOMPAGNE_INVITE == false}">Peut vous raccompagner à la fin du repas</li>
                            </ul>
                        </section>
                        <section id="map">
                            <h2>Map</h2>
                            <div id="map-item" class="map height-300 box"></div>
                            <!--end map-->
                        </section>
                    </div>
                    <!--end col-md-12-->
                </div>
                <!--end row-->
                <section id="additional-information">
                    <h2>Additional Information</h2>
                    <dl class="info">
                        <dt>Check-in:</dt>
                        <dd>14:00 - 00:00</dd>
                        <dt>Check-out:</dt>
                        <dd><strong>Late Check-out: until 12:00 </strong></dd>
                        <dt>Cancellation:</dt>
                        <dd>Cancellation and prepayment policies vary according to room type.</dd>
                        <dt>Children:</dt>
                        <dd>All children are welcome.</dd>
                        <dt>Pets:</dt>
                        <dd>Pets are not allowed</dd>
                    </dl>
                    <!--end info-->
                </section>

            </div>
            <!--end main-content-->
        </div>
        <!--end col-md-9-->
        <div class="col-md-3 col-sm-4">
            <div class="sidebar">
                <div class="box filter">
                    <h2>Réservation</h2>
                    <form id="form-filter" class="labels-uppercase">
                        <div class="form-group">
                            <label for="form-filter-destination">Date souhaitée</label>
                            <input type="date" class="form-control" id="form-filter-destination" name="destination" placeholder="Destination">
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <label for="form-filter-check-out">Nombre d'invités</label>
                            <select  class="form-control" id="form-filter-check-out" name="check-out">
                                <option value="valeur1">1</option>
                                <option value="valeur1">2</option>
                                <option value="valeur1">3</option>
                            </select>
                        </div>
                        <!--end form-group-->
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="price-item">
                                    <th style="border-top: 0 !important;" scope="row">
                                        <span>{{donneesAnnonce.PRIX}}€ x 4 invités</span><span aria-hidden="true"></span>
                                    </th>
                                    <td class="text-right price-item__price hide-border-top">
                                        <div><span>81€</span></div>
                                    </td>
                                </tr>
                                <tr class="price-item" >
                                    <th class="price-item__header" scope="row">
                                        <span >Frais de service</span><span aria-hidden="true">&nbsp;</span>
                                    </th>
                                    <td class="text-right price-item__price">
                                        <div class=""><span>15€</span></div>
                                    </td>
                                </tr>
                                <tr>
                                <th class="price-item__header" scope="row"><span>Total</span></th>
                                <td class="price text-right"><span>111€</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end collapse-->
                        <div class="form-group center">
                            <button type="submit" class="btn btn-primary btn-rounded form-control">Réserver</button>
                        </div>
                    </form>
                    <!--end form-filter-->
                </div>
                <!--end filter-->
            </div>
            <!--end sidebar-->
        </div>
        <!--end col-md-3-->
    </div>
    <!--end row-->

    <div class="row">
        <div class="col-md-9 col-sm-8">
            <section id="reviews">
                <div class="title">
                    <h2 class="pull-left">Reviews</h2>
                    <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">Write a Review</a>
                </div>
                <h3>Overall Score</h3>
                <ul class="rating-score">
                    <li class="overall"><i class="fa fa-star"></i>{{donneesAnnonce.UTILISATEUR.NOTE}}</li>
                </ul>
                <div class="reviews">
                    <div ng-repeat="avis in avisUtilisateurs" class="review">
                        <div class="row">
                            <div class="col-md-3">
                                <aside class="name">{{avis.UTILISATEUR_EMETTEUR.NOM}} {{avis.UTILISATEUR_EMETTEUR.PRENOM}}</aside>
                                <aside class="date">10.03.2015</aside>
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-9">
                                <div class="comment">
                                    <div class="comment-title">
                                        <figure class="rating">{{avis.NOTE}}</figure>
                                        <h4>Very Good Hotel</h4>
                                    </div>
                                    <!--end title-->
                                    <p>{{avis.COMMENTAIRE}}.
                                    </p>
                                </div>
                                <!--end comment-->
                            </div>
                            <!--end col-md-9-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end review-->
                </div>
                <!--end reviews-->
            </section>
            <section id="write-a-review">
                <h2>Write a Review</h2>
                <form  class="labels-uppercase clearfix" id="form_reply_1">
                    <div class="alert alert-dark fade in center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="sr-only">Error:</span>
                        <a href="#tab-sign-in" data-toggle="modal" data-target="#sign-in-register-modal">Please Sign in to write a review</a>
                    </div>
                    <div class="review write switch" id="review-write">
                        <aside class="name">John Doe</aside>
                        <div class="comment">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="comment-title">
                                        <h4>Review Your Stay</h4>
                                    </div>
                                    <!--end title-->
                                    <div class="form-group">
                                        <label for="form_reply_1-name">Title of your review<em>*</em></label>
                                        <input type="text" class="form-control" id="form_reply_1-name" name="name" placeholder="Beautiful holiday!" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="form_reply_1-message">Your Answer<em>*</em></label>
                                        <textarea class="form-control" id="form_reply_1-message" rows="8" name="answer" required="" placeholder="Describe your stay"></textarea>
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group pull-right">
                                        <button type="submit" class="btn btn-primary btn-rounded">Send Review</button>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-8-->
                                <div class="col-md-4">
                                    <div class="comment-title">
                                        <h4>Rating</h4>
                                    </div>
                                    <!--end title-->
                                    <dl class="visitor-rating">
                                        <dt>Cleanliness</dt>
                                        <dd class="star-rating active" data-name="cleanliness"></dd>
                                        <dt>Comfort</dt>
                                        <dd class="star-rating active" data-name="comfort"></dd>
                                        <dt>Location</dt>
                                        <dd class="star-rating active" data-name="location"></dd>
                                        <dt>Facilities</dt>
                                        <dd class="star-rating active" data-name="facilities"></dd>
                                        <dt>Staff</dt>
                                        <dd class="star-rating active" data-name="staff"></dd>
                                        <dt>Value for money</dt>
                                        <dd class="star-rating active" data-name="value"></dd>
                                    </dl>
                                </div>
                                <!--end col-md-4-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end comment-->
                    </div>
                    <!--end review-->
                </form>
                <!--end form-->
            </section>
        </div>
    </div>
</div>
<script>
    var _latitude = 48.47292127;
    var _longitude = 4.28672791;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
</script>
<!--end container-->
