
<!DOCTYPE html>

<html lang="fr" ng-app="CookIn" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link href="lib/angularjs-slider/rzslider.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="lib/kendo-ui/css/kendo.common.min.css">
    <link rel="stylesheet" href="lib/kendo-ui/css/kendo.material.min.css">

    <title>Accommodo - Accommodation HTML Template Full of Useful Features</title>

</head>

<body ng-controller="MainCtrl">
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a href="#/accueil" id="brand"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li ng-if="!(globals.currentUser|JsonIsEmpty)">
                                    <div class="btn-group" uib-dropdown>
                                        <button id="split-button" type="button" class="btn btn-danger"><i class="fa fa-user"></i> {{globals.currentUser.prenom}}</button>
                                        <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                            <li role="menuitem"><a ng-click="logout()">Déconnexion</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li ng-if="globals.currentUser|JsonIsEmpty"><a href="#login">Connexion</a></li>
                                <li ng-if="globals.currentUser|JsonIsEmpty"><a href="#tab-register" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Register</a></li>
                                <li>
                                    <a href="#/dashboard/mypublications">Tableau de bord</a>
                                </li>
                                <li>
                                    <a href="#" class="has-child">Message</a>
                                </li>
                                <li class="submit"><a href="#/addpublication"><span>Submit</span><i data-toggle="tooltip" data-placement="top" title="Submit"><img src="assets/img/plus.png" alt=""></i></a></li>
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->
    <div id="page-content">
        <div ui-view></div>
    </div>
    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<div>
    <a href="" ng-click="scrollToElement('page-header')" class="to-top" data-show-after-scroll="600"><i class="arrow_up"></i></a>
</div>

<!-- jQuery -->
<script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>

<!-- Angular lib-->
<script type="text/javascript" src="lib/angular/angular.min.js" ></script>
<script type="text/javascript" src="lib/angular/angular-ui.js"></script>
<script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
<script type="text/javascript" src="lib/angular/angular-locale_fr-fr.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.4.2/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Kendo ui -->
<script src="lib/kendo-ui/js/kendo.ui.core.min.js"></script>
<script src="lib/kendo-ui/js/kendo.angular.min.js"></script>
<script src="lib/kendo-ui/js/cultures/kendo.culture.fr-FR.min.js"></script>

<!-- google maps api-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDakB8mEGY8nRgfqrsPrdtif4ufwNBLnXg&libraries=places,geometry"></script>
<!-- slider js -->
<script src="lib/angularjs-slider/rzslider.min.js"></script>
<!-- underscore  -->
<script src="lib/underscore/underscore-min.js"></script>
<script src="http://stevenlevithan.com/assets/misc/date.format.js"></script>
<script src="lib/angular-underscore-module/angular-underscore-module.js"></script>
<!-- auto-complete google maps -->
<script src="lib/auto-complete.js"></script>
<!-- bootstrap ui-->
<script src="lib/bootstrap-3.3.5-dist/js/ui-bootstrap-1.3.3.min.js"></script>
<!-- multiselect datePicker-->
<script src="lib/gm.datepickerMultiSelect.min.js"></script>

<script src="lib/ng-flow-standalone.min.js"></script>


<script src="js/app.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>

<!-- global functions service-->
<script src="js/services/SmoothScroolService.js"></script>
<script src="js/services/GlobalFactory.js"></script>

<!-- custom services-->
<script src="js/services/AdresseFactory.js"></script>
<script src="js/services/AuthFactory.js"></script>
<script src="js/services/AnnonceFactory.js"></script>
<script src="js/services/AvisFactory.js"></script>
<script src="js/services/ImageFactory.js"></script>
<script src="js/services/LangueFactory.js"></script>
<script src="js/services/ModeConsommationFactory.js"></script>
<script src="js/services/RegimeFactory.js"></script>
<script src="js/services/ReservationFactory.js"></script>
<script src="js/services/SessionFactory.js"></script>
<script src="js/services/TypeCuisineFactory.js"></script>
<script src="js/services/TypeRepasFactory.js"></script>
<script src="js/services/UtilisateurFactory.js"></script>


<script src="js/controllers/MainCtrl.js"></script>

<script src="js/controllers/SearchCtrl.js"></script>
<script src="js/controllers/PublicationCtrl.js"></script>
<script src="js/controllers/AddPublicationCtrl.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>
<script src="js/controllers/MyPublicationsCtrl.js"></script>
<script src="js/controllers/OrdersPlacedCtrl.js"></script>
<script src="js/controllers/OrdersReceivedCtrl.js"></script>

<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/infobox.js"></script>
<script type="text/javascript" src="assets/js/markerclusterer_packed.js"></script>
<script type="text/javascript" src="assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="assets/js/markerwithlabel_packed.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/icheck.min.js"></script>
<script type="text/javascript" src="assets/js/jQuery.MultiFile.min.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="assets/js/maps.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->


</body>
