<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Listing</a></li>
        <li class="active">Detail</li>
    </ol>
    <!--end breadcrumb-->
    <div class="main-content">
        <div class="title">
            <h1>Publier une annonce</h1>
        </div>
        <!--end title-->
        <div class="quick-navigation" data-fixed-after-touch="">
            <div class="wrapper">
                <ul>
                    <li><a href="#main-information" class="scroll">Description</a></li>
                    <li><a href="#location" class="scroll">Localisation</a></li>
                    <li><a href="#gallery" class="scroll">Images</a></li>
                    <li><a href="#additional-information" class="scroll">Informations supplémentaires</a></li>
                </ul>
            </div>
        </div>
        <!--end quick-navigation-->

        <form class="form-submit labels-uppercase" id="form-submit" novalidate>
            <section id="main-information">
                <div class="title">
                    <h1>Description</h1>
                    <aside class="step">1</aside>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="padding">
                                <h4 for="object-type">Type d'expérience</h4>
                            </div>
                            <select class="form-control" name="experience" ng-model="typeExperience" id="experience"
                                    ng-options="experience.LIBELLE for experience in typeRepas track by experience.IDTYPEREPAS" >
                            </select>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4">

                        <div class="form-group">
                            <div class="padding">
                                <h4 for="cancellation">A déguster</h4>
                            </div>
                            <select class="form-control" name="conso" ng-model="Adeguster" id="conso"
                                    ng-options="conso.LIBELLE for conso in modeConsommation track by conso.IDMODECONSO"
                                    ng-change="updateModeConsoLabel(Adeguster)">
                            </select>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <h4 for="object-type" >{{libelleQuantite}}</h4>
                            <rzslider rz-slider-model="nbrPersonneSlider.minValue" rz-slider-high="nbrPersonneSlider.maxValue" rz-slider-options="nbrPersonneSlider.options"></rzslider>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4 for="object-type" >Titre </h4>
                            <em> Préférez un titre accrocheur ! </em>
                            <input class="form-control" id="titre" rows="1" name="titre" required="" placeholder="Indiquez votre titre" ng-model="titre">
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col md 12-->
                </div>
                <!--end row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4 for="object-type">Description</h4>
                            <em> Donnez envie à des CookIn de venir manger chez vous ! </em>
                            <textarea class="form-control" id="description" rows="8" name="description" required="" placeholder="Décrivez votre plat / menu"
                                      ng-model="description"></textarea>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col md 12-->
                </div>
                <!--end row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4 for="object-type">Régime alimentaire</h4>
                            <select kendo-multi-select k-options="regimeAlimentaire" k-ng-model="selectedIdsRegime"></select>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col md 12-->
                </div>
                <!--end row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h4 for="form-submit-description">Prix </h4>
                            <em> Le prix indiqué sera le montant que vous toucherez</em>
                            <input type="number" class="form-control" id="prix" name="prix" required="" placeholder="Indiquez votre prix par invité" ng-model="prix">
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col md 6-->

                    <div class="col-md-6">
                        <div class="form-group">
                            <h4 for="object-type" class="width-30">Type de cuisine</h4>
                            <em> La spécialité de votre menu</em>
                            <select class="form-control" name="cuisine" ng-model="typeDeCuisine" id="cuisine"
                                    ng-options="cuisine.LIBELLE for cuisine in typeCuisine track by cuisine.IDCUISINE">
                            </select>
                        </div>
                        <!--end form-group-->
                    </div>
                </div>
                <!--end row-->

                <section id="location">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title" style="margin-top:1px;">
                                <h1>Localisation</h1>
                                <aside class="step">2</aside>
                            </div>
                            <div class="form-group">
                                <h4 for="object-type">Lieux enregistrés</h4>
                                <select class="form-control" name="lieu" ng-model="adresses" id="lieu"
                                        ng-options="lieu.ADRESSE_COMPLETE for lieu in lieuxEnregistres track by lieu.IDADRESSE"
                                        ng-change="placemap()" >
                                    <option value="">Ajouter une addresse</option>
                                </select>

                            </div>
                            <!--end form-group-->
                            <div class="add adress">
                                <div class="form-group" ng-show="showNewMapInput">
                                    <h4 for="address-autocomplete">Adresse</h4>
                                    <input type="text" class="form-control" required id="address-autocomplete" ng-model="locationChoice"  ng-autocomplete  details="locationChoiceDetail"  placeholder="Entrez votre adresse">
                                </div>
                                <div class="form-group">
                                    <h4>Carte</h4>

                                    <div id="map-item" class="map height-200 box"></div>
                                </div>
                                <div class="form-group hidden">
                                </div>

                                <!--end map-->

                            </div>
                            <!--end add adress-->

                        </div>
                        <!--end col-md-6-->
                        <div class="col-md-6">
                            <div class="title">
                                <h1>A propos de vous</h1>
                            </div>
                            <div class="form-group">
                                <h4 for="form-submit-email">Langues parlées</h4>
                                <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIdsLangues"></select>

                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <h4 for="form-submit-phone">Quelques mots sur vous</h4>
                                <textarea class="form-control" ng-model="utilisateur.PROFESSION" rows="8" name="presentation" required="" placeholder="Présentez vous à vos invités !"></textarea>
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <h4 for="form-submit-mobile-phone">Numéro de mobile</h4>
                                <input type="text" ng-model="utilisateur.TELEPHONE" class="form-control" id="phone" name="phone" placeholder="06 06 06 06 06">
                            </div>
                            <!--end form-group-->

                        </div>
                        <!--end col-md-6-->
                    </div>
                    <!--end row-->
                </section>
                <section id="date">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title" style="margin-top:1px;">
                                <h1>Disponibilités</h1>
                                <aside class="step">3</aside>
                            </div>
                            <div class="form-group">
                                <h4>Dates</h4>
                                <uib-datepicker ng-model='activeDate' multi-select='selectedDates' select-range='false'></uib-datepicker>
                            </div>
                            <!--end form-group-->

                        </div>
                        <!--end col-md-6-->
                        <div class="col-md-6">
                            <div class="title" style="margin-top:1px;">
                                <h1></h1>
                            </div>
                            <div class="form-group">
                                <h4>Horaires</h4>
                                Heure début<input kendo-time-picker
                                                  ng-model="strDeb"
                                                  k-options="SelectorOptionsDebut"
                                                  k-ng-model="dateDebut"
                                                  style="width: 100%;" />
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                Heure fin<input kendo-time-picker
                                                ng-model="strFin"
                                                k-options="SelectorOptionsFin"
                                                k-ng-model="dateFin"
                                                style="width: 100%;" />
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-3" ng-repeat='d in selectedDates | orderBy'>
                            {{d | date : 'fullDate'}}
                            <button class="button-icon-only" ng-click='removeFromSelected(d)'>
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;
                            </button>
                        </div>
                    </div>
                    <!--end row-->
                </section>

                <section id="gallery">
                    <div class="title">
                        <h1>Image</h1>
                        <aside class="step">4</aside>
                    </div>
                    <div flow-init="" flow-files-submitted="$flow.upload()"
                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                         flow-file-success="addImage( $file, $message, $flow )"
                         class="ng-scope">
                        <div class="file-upload" flow-drop >
                            <input flow-btn type="file" multiple="multiple" class="file-upload-input">
                            <span>
                                Click to add images
                            </span>
                            <div class="center">
                                <!-- ngRepeat: file in $flow.files -->
                                <div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
                                    <div class="thumbnail" ng-show="$flow.files.length">
                                        <img flow-img="file">
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <br>
                    </div>
                </section>
                <section id="additional-information">
                    <div class="title">
                        <h1>Informations supplémentaires</h1>
                        <aside class="step">5</aside>
                    </div>
                    <!--end title-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-inline">
                                <label>
                                    <span style="margin-right: 138px;" >
                                    Enfant admis
                                    </span>
                                    <input  icheck type="checkbox" ng-model="enfantAdmis">
                                </label>

                            </div>
                            <!--end form-group-->
                            <div class="form-group label-inline">
                                <label class="width-30">
                                    <span style="margin-right: 103px;">Animaux autorisés </span>
                                    <input  icheck type="checkbox" ng-model="animauxAutorise">
                                </label>

                            </div>
                            <!--end form-group-->
                            <div class="form-group label-inline">
                                <label   class="width-30">
                                <span style="margin-right: 61px;" >
                                Raccompagnement invité
                                </span>
                                    <input icheck type="checkbox" ng-model="raccompagnerInvite">
                                </label>

                            </div>
                            <!--end form-group-->

                            <div class="form-group label-inline">
                                <label class="width-30">
                                    Possibilité d'assiter à la préparation
                                    <input icheck type="checkbox" ng-model="assiterPreparation">
                                </label>
                            </div>
                            <!--end form-group-->

                        </div>
                        <!--end col-md-6-->

                    </div>

                    <!--end row-->
                </section>
                <hr>
                <section>
                    <div class="form-group center">
                        <button type="submit" ng-click="insertAnnonce(locationChoiceDetail)" class="btn btn-primary btn-rounded btn-xlarge">Poster l'annonce</button>
                    </div>
                </section>
            </section>
        </form>
        <!--end form-->
    </div>
    <!--end main-content-->
</div>
