<md-content>
    <div form="form_reply_1">
        <div class="comment-title">
            <h4>Donnez votre avis</h4>
        </div>
        <!--end title-->
        <div class="form-group">
            <!--Rating stars-->
            <div ng-init="rating = star.rating + 1"></div>
            <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
        </div>
        <div class="form-group">
            <label for="titre">Titre du commentaire<em>*</em></label>
            <input type="text" class="form-control" id="titre" name="titre" ng-model="titre" placeholder="Donnez un titre" required>
        </div>
        <p ng-show="form_reply_1.titre.$invalid && form_reply_1.titre.$touched" class="alert-danger">Veuillez entrer un titre valide</p>


        <div class="form-group">
            <label for="answer">Commentaire</label>
            <textarea class="form-control" id="answer" rows="8" name="answer" ng-model="commentaire" placeholder="Décrivez votre expérience"></textarea>
        </div>
        <!--end form-group-->
        <div class="form-group pull-right">
            <md-button type="submit" class="btn btn-primary btn-rounded" ng-click="getAvisData(commentaire,titre)">Envoyer</md-button>
        </div>
        <div class="form-group pull-left">
            <em>*</em>Champs obligatoires
        </div>
        <!--end form-group-->
    </div>

</md-content>