<div class="my-items table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Status</th>
            <th class="center">Quantités/Personnes</th>
            <th class="center">Date</th>
            <th class="center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="my-item" ng-repeat="reservation in reservationPassees" ng-class="{inactive: (reservation.DATE_DEBUT | parseDate) <= today}">
            <td>
                <div class="image-wrapper">
                    <div ng-if="((reservation.DATE_DEBUT | parseDate) <= today) && reservation.DEJANOTE" class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation">
                        <button class="btn btn-success btn-rounded" ng-click="showPrompt($event, $index)">
                            <i class="fa fa-star"></i>
                        </button>
                    </div>
                    <a class="image">
                        <div class="bg-transfer">
                            <img ng-src="{{reservation.IMAGE_ANNONCE}}">
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a><h2>{{reservation.LIBELLE}}</h2></a>
                    <figure class="location">{{reservation.LIEU}}</figure>
                    <figure class="label label-info">{{reservation.LIBELLE_CONSO}}</figure>
                </div>
                <!--end info-->
            </td>
            <td><div class="featured yes"><i class="fa fa-check"></i><aside></aside></div></td>
            <td class="center">{{reservation.QUANTITE}}</td>
            <td class="center">{{reservation.DATE_DEBUT|date:'dd/MM/yyyy'}}</td>
            <td class="center">{{reservation.TOTAL}} €</td>
        </tr>
        <!--end my-item-->
        </tbody>
    </table>
</div>