<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Listing</a></li>
        <li class="active">Detail</li>
    </ol>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <div class="quick-navigation" data-fixed-after-touch="">
                <div class="wrapper">
                    <ul>
                        <li><a target="_self" href="" ng-click="scrollToElement('description')" class="scroll">Description</a></li>
                        <li><a target="_self" href="" ng-click="scrollToElement('facilities')" class="scroll">Options</a></li>
                        <li><a target="_self" href="" ng-click="scrollToElement('map')" class="scroll">Carte</a></li>
                        <li><a target="_self" href="" ng-click="scrollToElement('additional-information')" class="scroll">Informations supplémentaires</a></li>
                        <li><a target="_self" href="" ng-click="scrollToElement('reviews')" class="scroll">Avis</a>({{avisUtilisateurs.length}})</li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="title box">
                    <div class="left">
                        <!--{{donneesAnnonce.UTILISATEUR}}
                        {{donneesAnnonce.UTILISATEUR.PHOTO_PROFIL}}-->
                        <div class="vcenter item-image col-md-2">
                            <img class="thumbl" ng-src="{{donneesAnnonce.UTILISATEUR.PHOTO_PROFIL}}">
                            <strong>{{donneesAnnonce.UTILISATEUR.PRENOM}}</strong>
                        </div>
                        <div class="vcenter col-md-8">
                            <h1>{{donneesAnnonce.LIBELLE}} <span class="rating"><i class="fa fa-star"></i>{{donneesAnnonce.UTILISATEUR.NOTE}}</span></h1>
                        </div>
                    </div>
                    <div class="right">
                        <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>voir l'emplacement</a>
                    </div>
                </div>
                <!--end title-->

                <section id="gallery">
                    <div class="gallery-detail">
                        <div uib-carousel active="active"  no-wrap="true">
                            <div uib-slide ng-repeat="image in donneesAnnonce.IMAGE_ANNONCE">
                                <img ng-src="{{image.FILENAME}}" style="margin:auto;">
                            </div>
                        </div>
                    </div>
                </section>
                <h2>Description</h2>
                <div class="row">
                    <div class="col-md-12">
                        <section id="description">
                            <p>{{donneesAnnonce.DESCRIPTION}}</p>
                        </section>
                        <section id="facilities">
                            <h2>Options</h2>
                            <ul class="bullets">
                                <li ng-class="{'bulletsok': donneesAnnonce.ASSISTER_PREPARATION == true, 'bulletsnotok': donneesAnnonce.ASSISTER_PREPARATION == false}">Vous propose d'assister à la préparation</li>
                                <li ng-class="{'bulletsok': donneesAnnonce.ACCEPTE_ENFANT == true, 'bulletsnotok': donneesAnnonce.ACCEPTE_ENFANT == false}">Accueille les enfants en bas age</li>
                                <li ng-class="{'bulletsok': donneesAnnonce.ACCEPTE_ANIMAUX == true, 'bulletsnotok': donneesAnnonce.ACCEPTE_ANIMAUX == false}">Accepte les animaux</li>
                                <li ng-class="{'bulletsok': donneesAnnonce.RACCOMPAGNE_INVITE == true, 'bulletsnotok': donneesAnnonce.RACCOMPAGNE_INVITE == false}">Peut vous raccompagner à la fin du repas</li>
                            </ul>
                        </section>
                        <section id="map">
                            <h2>Carte</h2>
                            <div id="map-item" class="map height-300 box"></div>
                            <!--end map-->
                        </section>
                    </div>
                    <!--end col-md-12-->
                </div>
                <!--end row-->
                <section id="additional-information">
                    <h2>Informations supplémentaires</h2>
                    <dl class="info">
                        <dt>Arrivée:</dt>
                        <dd>{{availableday[0].DATE_DEBUT |date:'hh:mm' }}  {{availableday[0].DATE_FIN |date:'hh:mm' }} </dd>
                        <dt>Langues parlées:</dt>
                        <dd>
                            <span ng-repeat="langue in donneesAnnonce.UTILISATEUR.LANGUE">
                                    {{langue.LIBELLE}} {{$last ? '' : ', '}}
                            </span>
                        </dd>
                        <span ng-hide="donneesAnnonce.SPECIALITE|JsonIsEmpty">
                             <dt>Spécialité:</dt>
                             <dd>
                                 {{donneesAnnonce.SPECIALITE.LIBELLE}}
                             </dd>
                        </span>
                        <span ng-hide="donneesAnnonce.REGIMES|JsonIsEmpty">
                             <dt>Régime(s):</dt>
                             <dd>
                                <span ng-repeat="regime in donneesAnnonce.REGIMES">
                                    {{regime.LIBELLE}} {{$last ? '' : ', '}}
                                </span>
                             </dd>
                        </span>
                    </dl>
                    <!--end info-->
                </section>

            </div>
            <!--end main-content-->
        </div>
        <!--end col-md-9-->
        <div class="col-md-3 col-sm-4">
            <div class="sidebar">
                <div class="box filter">
                    <h2>Réservation</h2>
                    <form kendo-validator="validator" name="publication.reservationForm" id="form-filter" ng-show="availableday.length > 0" class="labels-uppercase">
                        <div class="form-group">
                            <label>Date souhaitée</label>
                            <input kendo-date-picker
                                   k-options="SelectorOptions"
                                   k-ng-model="dateReservation"
                                   style="width: 100%;" required/>
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <label for="form-filter-check-out">{{donneesAnnonce.MODECONSO.CODE == 'AEMPORTER'? "Quantité": "Nombre d'invités" }}</label>
                            <select class="form-control" name="quantiteInput" ng-model="nbPlacesAreserver" id="form-filter-check-out"
                                    ng-change="updatePrice()"
                                    ng-options="quantite for quantite in listQuantite">
                            </select>

                        </div>
                        <!--end form-group-->
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="price-item">
                                    <th style="border-top: 0 !important;" scope="row">
                                        <span>{{donneesAnnonce.PRIX}}€ x {{nbPlacesAreserver}} invité(s)</span><span aria-hidden="true"></span>
                                    </th>
                                    <td class="text-right price-item__price hide-border-top">
                                        <div><span>{{donneesAnnonce.PRIX * nbPlacesAreserver}}€</span></div>
                                    </td>
                                </tr>
                                <tr class="price-item" >
                                    <th class="price-item__header" scope="row">
                                        <span >Frais de service</span><span aria-hidden="true">&nbsp;</span>
                                    </th>
                                    <td class="text-right price-item__price">
                                        <div class=""><span>{{fraisDesService}}€</span></div>
                                    </td>
                                </tr>
                                <tr>
                                <th class="price-item__header" scope="row"><span>Total</span></th>
                                <td class="price text-right"><span>{{totalPrice}}€</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end collapse-->
                        <div class="alert-danger" ng-show="!isValid">
                            Vous avez déja une réservation pour cette date
                        </div>
                        <div class="form-group center">
                            <button type="submit" ng-disabled="!isValid" ng-click="showPrompt($event)" class="btn btn-primary btn-rounded form-control">Réserver</button>
                        </div>
                    </form>
                    <!--end form-filter-->
                    <h2 ng-show="availableday.length <= 0" style="color: darkred">Aucun date n'est diponible pour cette annonce</h2>
                </div>
                <!--end filter-->
            </div>
            <!--end sidebar-->
        </div>
        <!--end col-md-3-->
    </div>
    <!--end row-->

    <div class="row">
        <div class="col-md-9 col-sm-8">
            <section id="reviews">
                <div class="title">
                    <h2 class="pull-left">Note globale</h2>
                </div>
                <ul class="rating-score">
                    <li class="overall"><i class="fa fa-star"></i>{{donneesAnnonce.UTILISATEUR.NOTE}}</li>
                </ul>
                <div class="reviews">
                    <div ng-repeat="avis in avisUtilisateurs" class="review">
                        <div class="row">
                            <div class="col-md-3">
                                <aside class="name">{{avis.UTILISATEUR_EMETTEUR.NOM}} {{avis.UTILISATEUR_EMETTEUR.PRENOM}}</aside>
                                <!--<aside class="date">10.03.2015 TODO</aside>-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-9">
                                <div class="comment">
                                    <div class="comment-title">
                                        <figure class="rating">{{avis.NOTE}}</figure>
                                        <!--<h4>Very Good Hotel</h4>-->
                                    </div>
                                    <!--end title-->
                                    <p>{{avis.COMMENTAIRE}}.
                                    </p>
                                </div>
                                <!--end comment-->
                            </div>
                            <!--end col-md-9-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end review-->
                </div>
                <!--end reviews-->
            </section>
        </div>
    </div>
</div>
<!--end container-->
